.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  z-index: 101;
  position: fixed;
  top: 0;
  background-color: var(--cardBGC);
  width: 100%;
  height: 50px;
  padding-top: 0.5rem;
  box-sizing: border-box;
}

.nav {
  display: flex;
  gap: 1rem;
  margin-right: 0;
}

.Menu {
  display: none;
}
.Menu:hover {
  cursor: pointer;
}

.link {
  color: var(--primary);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline var(--hoverLink);
}

.slider {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: auto;
  background-color: var(--cardBGC);
  z-index: 100;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.sliderActive {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: auto;
  background-color: var(--cardBGC);
  z-index: 100;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.sliderUl {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
  padding-top: 0.5rem;
}

.sliderLi {
  margin-block: 1rem;
  list-style: none;
  color: var(--primary);
}

.linkMenu {
  font-size: 1.1rem;
  text-decoration: none;
}

.linkMenu:hover {
  text-decoration: underline var(--hoverLink);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-out;
}

.backdropActive {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;

  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.2s ease-out;
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    gap: 0;
  }
  .Menu {
    display: flex;
  }
  .nav {
    margin-right: 0;
  }
  nav > a {
    display: none;
  }
}
