.graduationsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1400px;
  margin: 6rem auto 0 auto;
}

.title {
  margin-bottom: 2rem;
}

.graduationList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}
