.graduationWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: var(--card);
  border-radius: 10px;
  padding: 1.5rem;
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 560px;
  max-width: 1000px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.name {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary);
}

.date {
  font-size: 0.9rem;
  color: var(--secondary);
  font-style: italic;
  flex-shrink: 0;
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary);
  margin-top: 0.5rem;
}

.resume {
  font-size: 1rem;
  color: var(--secondary);
  line-height: 1.5;
}

@media screen and (max-width: 803px) {
  .graduationWrapper {
    width: 100%;
    min-width: unset;
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
