.graduationWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1400px;
  margin: 3rem auto 0 auto;
}

.title {
  margin-bottom: 2rem;
}

.graduationList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  margin-bottom: 2rem;
}

.ButtonMore {
  display: flex;
  background-color: var(--cardBGC);
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.6rem 0.3rem 0.6rem 0.8rem;
}
.ButtonMore:hover {
  background-color: var(--hover);
}
